.container {
  display: flex;
  height: 300px;
  justify-content: center;
  margin-bottom: 200px;
  white-space: nowrap;
  width: 100%;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  width: 460px;
}

.card {
  border: 1px solid #ccc;
  margin-right: 10px;
  min-width: 200px;
  padding: 10px;
  width: 200px;
}

.hidden {
  display: none;
}
